/* Brand */
.header__title {
  text-shadow: 1px 1px 7px #000000a8;
  color: #fff;
  text-align: center;
  width: 300px;
  margin: auto;
}

.header__title h1 {
  line-height: 2.9rem;
  font-weight: 600;
  font-size: 54px;
}

.header__title h2 {
  line-height: 2.9rem;
  font-weight: 600;
  font-size: 19px;
  color: #facd3e;
  position: relative;
}

.header__title h2::before {
  box-shadow: 1px 1px 7px #000000a8;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #facd3e;
}

.header__title ul {
  padding: 0;
}

.header__title li {
  padding-bottom: 4px;
  padding-right: 15px;
  position: relative;
  display: inline-block;
}

.header__title li:last-child {
  padding-right: 0;
  display: inline-block;
}

.header__title li::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 2px;
  top: 3px;
  right: 7px;
  background-color: #ee7141;
}

.header__title li:last-child::before {
  display: none;
}

/* Brand */
@media (min-width: 481px) {
  /* Brand */
  .header__title {
    text-align: left;
    margin: left;
    width: 344px;
  }

  .header__title h1 {
    font-size: 72px;
    line-height: 4rem;
  }

  .header__title h2 {
    font-size: 22px;
  }
  /* Brand */
}

@media (min-width: 768px) {
  /* Brand */
  .header__title {
    width: 530px;
  }

  .header__title h2 {
    font-size: 34.6px;
  }
  /* Brand */
}

@media (min-width: 992px) {
  .p-absolute {
    position: absolute;
  }
  /* Brand */
}
